<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.refillution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".RefillutionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Refillution"
        tools:ignore="LockedOrientationActivity">

        <activity
            android:name=".features.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.product.view.ProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.product.view.ProductDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.order.view.OrderConfirmedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.order.view.OrderCompletedActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>